<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 1+2 %> </h3>
    <h3> <%= "Het patel".toUpperCase(  ) %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure rem dolore quod repellat aperiam aliquid placeat illum delectus distinctio! Deserunt minima iste maiores aliquid adipisci maxime, autem inventore, iure, amet beatae obcaecati perferendis consequuntur?</p>
    <button>click me!</button>
</body>
</html>