body {
  font-family: Arial;
}

#mainImg {
  width: 20rem;
  height: 25rem;
}

.box {
  border: 0.25px solid black; 
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}

.red{
  color: red;
}

.boxY{
  background-color: rgb(89, 217, 206);
  border:1px solid purple;
}

#btn{
  background-color: blue;
  color: white;
}

.purpleCOl{
  color: purple;
}