.face{
    width: 400px;
    height: 400px;
    background-color: #f8a51f;
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color: red;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 270px;
    left: 100px;
}
.left-eye, .right-eye{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
}
.left-eye{
    top: 80px;
    left: 90px;
}
.right-eye{
    top: 80px;
    left: 250px;
}