div{
    height: 100px;
    width: 100px;
    background-color: rgb(33, 204, 33);
    /* transition: 2s 1s; */
    margin: 0 auto;
    transition: margin-top 2s ease-in 0.2s;
}
div:hover{
    /* background: #000000;
    border-radius: 50%; */
    margin-top: 300px;
}